<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<typeAliases>
	<typeAlias alias="Post" type="com.board.www.dto.PostVO"/>
</typeAliases>
<mappers>
	<mapper  resource="PostMapper.xml"/>
</mappers>
</configuration>